<ion-modal-view>
    <ion-header-bar class="bar-positive">
    <h1 class="title">Инструкция</h1>
    <div class="buttons">
        <button class="button button-clear" ng-click="closeModal()">Назад</button>
    </div>
    </ion-header-bar>
    <ion-content>
        <h1>Снятие неоднозначности между именительным и винительным падежами у существительных множественного числа</h1>
        <p>Как вы можете смутно помнить из школы, существительное в именительном падеже отвечает на вопросы <b>кто? что?</b>, а в винительном — на вопросы <b>кого? что?</b> Задайте вопрос к разбираемому слову. Или иначе: попробуйте заменить нужное слово на существительное с окончанием на <i>-а</i>/<i>-я</i> в единственном числе, скажем, на <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px"><font style="background-color: #f8cb6a;">девочка</font></font>. Если получится <b>кто-что?</b> <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px"><font style="background-color: #f8cb6a;">девочк<b>А</b></font></font> — это именительный падеж, а если <b>кого-что?</b> <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px"><font style="background-color: #f8cb6a;">девочк<b>У</b></font></font> — винительный.
        </p>

        <h2>Сложные случаи</h2>
        <h3>Назывные предложения</h3>

        <p><a rel="nofollow" class="external text" href="http://ru.wikipedia.org/wiki/Назывные_предложения">Назывные предложения</a> — это односоставные предложения без сказуемого.
        </p>

        <p>Они могут:</p>

        <ul>
        <li> констатировать факт существования предмета: <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">Подвявшие  <font style="background-color: #f8cb6a;">мимозы</font>,  поникшие  тюльпаны  ...</font>, <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">Шум, хохот, беготня, <font style="background-color: #f8cb6a;">поклоны</font>, ...</font></li>
        <li> указывать на предмет: <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">Вот <font style="background-color: #f8cb6a;">семена</font>.</font></li>
        <li> выражать оценку какого-либо факта: <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">Такие <font style="background-color: #f8cb6a;">дела</font>.</font></li>
        </ul>

        <p>Часто назывными предложениями являются также разного вида заголовки (например, <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">Критерии <font style="background-color: #f8cb6a;">красоты</font></font>, <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">Национальные <font style="background-color: #f8cb6a;">черты</font> в архитектуре.</font>), названия статей (например, <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size: 14px; padding: 1px 3px">«<font style="background-color: #f8cb6a;">Письма</font> к провинциалу»</font>) и др.
        </p><p>Во всех таких предложениях называемый объект стоит в форме <b>именительного падежа</b>.
        </p><p>В интерфейсе разметки нет возможности просмотреть предыдущие предложения и проверить, что перед нами назывное предложение (в частности, заголовок), а не кусок предыдущего, как например:
        </p>
        <blockquote> (N) <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size:&#160;; padding: 1px 3px">Достаточно  пройти  по  улицам  кубинской  столицы  ,  чтобы  обнаружить  следы  запустения  .<font style="background-color: #f8cb6a;"></font></font> </blockquote>
        <blockquote> (N+1) <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size:&#160;; padding: 1px 3px">Разрушающиеся  <font style="background-color: #f8cb6a;">здания</font>,  пустые  прилавки  магазинов,  очереди.</font> </blockquote>
        <p>Во всех случаях сомнения выбирайте ответ <font style="background-color: #d5d5d5; color: red; font-family: Arial,sans-serif; font-size: 20px; padding: 1px 3px">Другое</font>, а в комментарии пишите: <font style="font-family: monospace; color: #BD5E1B; font-size: 14px; padding: 1px 3px">не хватает контекста</font>.
        </p>
        <h3>Родовое понятие + Имя собственные</h3>
        <p>Имя собственное после родового понятия стоит в <b>именительном падеже</b>. В этом случае имя собственное примыкает к предшествующему существительному, конкретизируя его. Например:
        </p>
        <blockquote> <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size:&#160;; padding: 1px 3px"><span style="background-color: #CCC;padding: 0px 4px;color: #406CBD;">...</span> в интервью <u>телеканалу</u> «<font style="background-color: #f8cb6a;">Вести</font>».</font> </blockquote>
        <blockquote> <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size:&#160;; padding: 1px 3px">Как сообщает <u>газета</u>  «<font style="background-color: #f8cb6a;">Ведомости</font>», Digital Sky Technologies купила ещё 5&#160;% акций Facebook.</font> </blockquote>
        <blockquote> <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size:&#160;; padding: 1px 3px">Жена купила <u>журнал</u> "<font style="background-color: #f8cb6a;">Идеи</font> вашего Дома ". <span style="background-color: #CCC;padding: 0px 4px;color: #406CBD;">...</span> </font> </blockquote>
        <blockquote> <font style="background-color: #d5d5d5; font-family: Arial,sans-serif; font-size:&#160;; padding: 1px 3px"><u>Роман</u> «<font style="background-color: #f8cb6a;">Костры</font> амбиций» был экранизирован <span style="background-color: #CCC;padding: 0px 4px;color: #406CBD;">...</span> </font> </blockquote>
        <h2>Правила русского языка</span></h2>
        <p>Неоднозначность между парами именительный/винительный и родительный/винительный встречается очень часто, но не всегда. В современном русском языке единственный словоизменительный тип, в котором винительный падеж не совпадает ни с каким другим и имеет особую форму — это склонение существительных на <i>-а</i>, <i>-я</i> в единственном числе (<i>рука</i> — <i>руку</i>). Поэтому в русском языке винительный падеж является «морфологически слабо самостоятельным падежом», по терминологии А. А. Зализняка («Русское именное словоизменение»).
        </p><p><br />
        </p>
    </ion-content>
</ion-modal-view>