<ion-view view-title="Настройки">
  <ion-content>
	  <ul class="list">
	    <li class="item item-toggle">
	       Автоматическая синхронизация
	       <label class="toggle">
	         <input type="checkbox">
	         <div class="track">
	           <div class="handle"></div>
	         </div>
	       </label>
	    </li>

	    <li class="item item-input item-select">
	       <label>
	           <div class="input-label">
	             Количество примеров для разметки
	           </div>
	           <select>
	             <option>5</option>
	             <option selected>10</option>
	             <option>25</option>
	             <option>50</option>
	           </select>
	         </label>
	    </li>
	  </ul>
  </ion-content>
</ion-view>
