
/* achievements */
.achievement-well {
    /*padding-top: 20px;*/
    padding-bottom: 10px;
}

.achievement-well .progress {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: -50px;
}

.achievement-well .achievement-wrap {
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
}

/* общие классы */
.achievement-wrap {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-position: center center;
    border-radius: 400px;
    border-style: solid;
    border-width: 15px;
    position: relative;
    background-repeat: no-repeat;
}

.achievement-level {
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    line-height: 100px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    border-style: solid;
    border-width: 15px;
}

.achievement-wrap:after {
    font-size: 200px;
    line-height: 368px;
}

.achievement-tooltip {
    font-family: "Open Sans";
}

.tooltip-wider .tooltip-inner {
    max-width: 300px;
    font-family: "Helvetica", Arial, sans-serif;
}

.achievement-tooltip.top {
    margin-top: -10px;

}
.achievement-tooltip.bottom {
    margin-top: 10px;
}

.achievement-tooltip.top.tooltip-white .tooltip-arrow {
    border-top-color: #eee;
}

.achievement-tooltip.tooltip-white.bottom .tooltip-arrow {
    border-bottom-color: #eee;
}

.achievement-tooltip.tooltip-white.right .tooltip-arrow {
    border-right-color: #eee;
}

.achievement-tooltip.tooltip-white .tooltip-inner {
    background-color: #eee;
    color: black;
}

.achievement-stub {
/*    -webkit-filter: grayscale(0.8);*/
    opacity: 0.3;
    border-color: #666 !important;
}

.achievement-stub .achievement-level,
.achievement-stub .progress {
    display: none;
}

/* маленькие ачивки */
.achievement-small {
    display: inline-block;
    border-width: 4px;
    width: 92px;
    height: 92px;
    background-size: 100px 100px;
}

.achievement-small .achievement-level {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border-width: 4px;
    line-height: 30px;
    font-size: 15px;
    right: -10px;
    bottom: -4px;
}

.achievement-small:after {
    font-size: 50px;
    line-height: 92px;
}

/* средние */
.achievement-medium {
    display: inline-block;
    border-width: 8px;
    width: 184px;
    height: 184px;
    background-size: 200px 200px;
}

.achievement-medium .achievement-level {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border-width: 8px;
    line-height: 60px;
    font-size: 30px;
    right: -20px;
    bottom: -8px;
}

.achievement-medium:after {
    font-size: 100px;
    line-height: 184px;
}

/* а теперь - звери */
.achievement-wrap.achievement-bobr {
    background-image: url(../img/badges/bobr-400x400.png); /* url зверушки */
    border-color: #603813; /* цвет обводки снаружи */
}

.achievement-level.achievement-bobr-level {
    background-color: #E6CEB3; /* фон круга с цифрой */
    border-color: #603813; /* цвет обводки снаружи у круга с цифрой */
    color: #603813; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-bobr {
    background-image: url(../img/badges/bobr-100x100-grayscale.png);
}

.achievement-wrap.achievement-dog {
    background-image: url(../img/badges/dog-400x400.png); /* url зверушки */
    border-color: #4D4D4D; /* цвет обводки снаружи */
}

.achievement-level.achievement-dog-level {
    background-color: #F5F5F7; /* фон круга с цифрой */
    border-color: #4D4D4D; /* цвет обводки снаружи у круга с цифрой */
    color: #4D4D4D; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-dog {
    background-image: url(../img/badges/dog-100x100-grayscale.png);
}

.achievement-wrap.achievement-chameleon {
    background-image: url(../img/badges/chameleon-400x400.png); /* url зверушки */
    border-color: #006837; /* цвет обводки снаружи */
}

.achievement-level.achievement-chameleon-level {
    background-color: #EDF4AB; /* фон круга с цифрой */
    border-color: #006837; /* цвет обводки снаружи у круга с цифрой */
    color: #006837; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-chameleon {
    background-image: url(../img/badges/chameleon-100x100-grayscale.png);
}

/* рыбки */
.achievement-wrap.achievement-fish {
    background-image: url(../img/badges/fish-400x400.png); /* url зверушки */
    border-color: #384a8c; /* цвет обводки снаружи */
}

.achievement-level.achievement-fish-level {
    background-color: #ffffff; /* фон круга с цифрой */
    border-color: #384a8c; /* цвет обводки снаружи у круга с цифрой */
    color: #384a8c; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-fish {
    background-image: url(../img/badges/fish-100x100-grayscale.png);
}

/*аист*/
.achievement-wrap.achievement-aist {
    background-image: url(../img/badges/aist-400x400.png); /* url зверушки */
    border-color: #333333; /* цвет обводки снаружи */
}

.achievement-level.achievement-aist-level {
    background-color: #e6f9fe; /* фон круга с цифрой */
    border-color: #333333; /* цвет обводки снаружи у круга с цифрой */
    color: #333333; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-aist {
    background-image: url(../img/badges/aist-100x100-grayscale.png);
}

/* хочу еще */
.achievement-wrap.achievement-wantmore {
    background-image: url(../img/badges/wantmore-400x400.png);
    border-color: #59478E; /* цвет обводки снаружи */
}

.achievement-stub.achievement-wantmore {
    background-image: url(../img/badges/wantmore-100x100-grayscale.png);
}